# build output
dist/
# generated types
.astro/
# wrangler local state
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*

# environment variables and secrets
.env*
.dev.vars*

# OS and editor files
.DS_Store
.idea/
